<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="MvvmLight" version="4.1.27.1" targetFramework="net45" />
  <package id="MvvmLightLibs" version="4.1.27.1" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SpecFlow.CodedUI" version="1.0.0.23" targetFramework="net45" />
  <package id="SpecFlow.CustomPlugin" version="1.9.0" targetFramework="net45" />
</packages>